
<div class="container">

    <form  class="form-group form-horizontal" #technicienForm="ngForm" (ngSubmit)="update()" >
        <fieldset class=gauche>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label> nom: </label>
        <input class="form-control" type="text" name="nom" #nom="ngModel"  [(ngModel)]="technicien[0].nom" >
       </div>
       <div class="col-sm-12 col-md-12 col-lg-12">
        <label> Matricule </label>
        <input class="form-control" type="number" name="matricule" #matricule="ngModel" [(ngModel)]="technicien[0].matricule" >
       </div>
       <div class="col-sm-12 col-md-12 col-lg-12">
        <label> Adresse </label>
        <input class="form-control" type="text" name="adresse" #adresse="ngModel" [(ngModel)]="technicien[0].adresse" >
       </div>
      </fieldset>
      <fieldset class=droite>
        <div class="col-sm-12 col-md-12 col-lg-12">
          <label> tel </label>
        <input class="form-control" type="number" name="tel" #tel="ngModel" [(ngModel)]="technicien[0].tel" >
       </div> 
       <div class="col-sm-12 col-md-12 col-lg-12">
        <label> email </label>
        <input class="form-control"  type="string" name="email" #email="ngModel" [(ngModel)]="technicien[0].email" >
       </div>
       <div class="col-sm-12 col-md-12 col-lg-12">
        <label> password: </label>
        <input  class="form-control" type="string" name="password" #password="ngModel" [(ngModel)]="technicien[0].password" >
         </div>        
         <div class="col-sm-12 col-md-12 col-lg-12">
          <label> Id Agent </label>
          <input  class="form-control" type="string" name="number" #password="ngModel" [(ngModel)]="technicien[0].id_agent" >
           </div> 
        </fieldset>
        <div style="-ms-flex-align: center;">
          <button   type="submit"  class="btn btn-warning" (click)="redirect()" >Cancel</button>
          <button  type="submit"  class="btn btn-info" >Modifier</button>
        </div>
    </form>
    </div>