<div class="container">

    <form  class="form-group form-horizontal" #operateurForm="ngForm" (ngSubmit)="ajout()">
        <fieldset class=gauche>
        
       <div class="col-sm-12 col-md-12 col-lg-12">
        <label> Nom Operateur </label>
        <input class="form-control" type="text" name="nom_operateur" #nom_operateur="ngModel" 
        [(ngModel)]="operateur.nom_operateur"
        [class.is-invalid]="nom_operateur.invalid && nom_operateur.touched" required
        >
       </div>
       <div class="col-sm-12 col-md-12 col-lg-12">
        <label> Id Agnet </label>
        <input class="form-control" type="text" name="id_agnet" #id_agnet="ngModel" 
        [(ngModel)]="operateur.id_agnet" 
        [class.is-invalid]="id_agnet.invalid && id_agnet.touched" required
        >
       </div>
      </fieldset>
        <div style="-ms-flex-align: center;">
          <button   type="submit"  class="btn btn-warning" (click)="redirect()" >cancel</button>
          <button  type="submit"  class="btn btn-info" >ajouter</button>
        </div>
    </form>
    </div>
    