<div class="container">

    <form  class="form-group form-horizontal" #operateurForm="ngForm" (ngSubmit)="ajout()">
        <fieldset class=gauche>
        
       <div class="col-sm-12 col-md-12 col-lg-12">
        <label> Nom Operateur </label>
        <input class="form-control" type="text" name="nom_operateur" #nom_operateur="ngModel" 
        [(ngModel)]="operateur.nom_operateur"
        [class.is-invalid]="nom_operateur.invalid && nom_operateur.touched" required
        >
       </div>
       <div class="col-sm-12 col-md-12 col-lg-12">
        <label> Id Agnet </label>
        <input class="form-control" type="text" name="id_agent" #id_agent="ngModel" 
        [(ngModel)]="operateur.id_agent" 
        [class.is-invalid]="id_agent.invalid && id_agent.touched" required >
        <!-- <select class=" form-control dropdown-toggle"  >
        <option selected > --select un agent--</option>
        <option *ngFor="let a of agent" [ngValue]="a.id_agent"
        type="text" name="id_agent" #id_agent="ngModel" [(ngModel)]="operateur.id_agent"  (change)="Change($event, operateur)"
         >{{a.nom}}</option>
      </select> -->
       </div>
      </fieldset>
        <div style="-ms-flex-align: center;">
          <button   type="submit"  class="btn btn-warning" (click)="redirect()" >cancel</button>
          <button  type="submit"  class="btn btn-info" >ajouter</button>
        </div>
    </form>
    </div>
    

