<div class="container">

    <form  class="form-group form-horizontal" #agentForm="ngForm" (ngSubmit)="ajoutAgent()">
        <fieldset class=gauche>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label> nom: </label>
        <input class="form-control" type="text" name="nom" #nom="ngModel"  [(ngModel)]="agent.nom" >
       </div>
       <div class="col-sm-12 col-md-12 col-lg-12">
        <label> Matricule </label>
        <input class="form-control" type="number" name="matricule" #matricule="ngModel" [(ngModel)]="agent.matricule" >
       </div>
       <div class="col-sm-12 col-md-12 col-lg-12">
        <label> adresse </label>
        <input class="form-control" type="text" name="adresse" #adresse="ngModel" [(ngModel)]="agent.adresse" >
       </div>
       <div class="col-sm-12 col-md-12 col-lg-12">
        <label> tel </label>
      <input class="form-control" type="number" name="tel" #tel="ngModel" [(ngModel)]="agent.tel" >
     </div>
      </fieldset>
      <fieldset class=droite>
       
       <div class="col-sm-12 col-md-12 col-lg-12">
        <label> email </label>
        <input class="form-control"  type="string" name="email" #email="ngModel" [(ngModel)]="agent.email" >
       </div>
       <div class="col-sm-12 col-md-12 col-lg-12">
        <label> password: </label>
        <input  class="form-control" type="string" name="password" #password="ngModel" [(ngModel)]="agent.password" >
         </div>  
         <div class="col-sm-12 col-md-12 col-lg-12">
            <label> Role: </label>
            <input  class="form-control" type="string" name="role" #role="ngModel" [(ngModel)]="agent.role" >
             </div>       
        </fieldset>
        <div style="-ms-flex-align: center;">
          <button   type="submit"  class="btn btn-success" (click)="redirect()" >cancel</button>
          <button  type="submit"  class="btn btn-success" >ajouter</button>
        </div>
    </form>
    </div>
    