<div class="section">
  <div class="container">
    <div class="row full-height justify-content-center">
      <div class="col-12 text-center align-self-center py-5">
        <div class="section pb-5 pt-5 pt-sm-2 text-center">
	<div class="card-3d-wrap mx-auto">
    <div class="card-3d-wrapper">
      <div class="card-front">
        <div class="center-wrap">
          <div class="section text-center">
            <h3>Reset Password</h3>
            <br>
            <h4 class="mb-4 pb-3">Please enter your email address to request a password reset</h4>
            <div class="form-group">
              <input type="email" class="formControl form-style" placeholder="Email Address" #passwordResetEmail requiredautocomplete="off">
              <i class="input-icon uil uil-at"></i>
            </div>	
          
            <br>
            <div class="formGroup">
              <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
            </div>
            <div class="redirectToLogin">
              <p class="mb-0 mt-4 text-center"><a routerLink="/auth" class="link">Go back to Log In ?</a></p>
            </div>
              </div>
            </div>
          </div>
          </div>
          </div></div>